{% extends "base.html" %}
{% load staticfiles %}
{% block title %}ACM TEAM{% endblock %}
{% block body %}
<div class="container">
    <h3 align="center">ACM-ICPC 简介</h3>
    <p>
  ACM-ICPC 是由 ACM （美国计算机协会）主办的面向大学生的国际程序设计竞赛（International Collegiate Programming Contest），至今已举办了 36 届，被称为大学生的计算机奥林匹克竞赛。
        比赛由 3 名选手组成一队，在 5 小时内共用 1 台计算机编程比赛，特别强调团队配合和动手解决实际问题的能力，因此不仅被广泛认为是教学成果的体现，而且深受广大大学生的喜爱。
        目前，全国各知名高校都越来越重视本项赛事，大学生的参赛热情空前高涨。中国大陆地区的竞赛竞争最为激烈，水平居各大洲之首。
  </p>
    <br><br>
    <hr style=" width: 80%; color: black; height: 1px; background-color:black;" />
    <br><br>
</div>


<div class="container">
    <div><h2 align="center">我校学生在2016 ACM-ICPC亚洲区中国决赛中摘银</h2>
       <span  style="float:right">  <a href="http://scce.ustb.edu.cn/article.action?categoryId=2&boardaId=0&articleId=2373" target="_blank">原文链接</a>(2016-12-13)</span>
    </div>
    <br><br>
					<div class="scce_content">
					<p>&nbsp;近日，在上海举办的ACM-ICPC国际大学生程序设计竞赛亚洲区中国决赛中，我校学子组成的两支代表队&ldquo;神锋无影&rdquo;和&ldquo;时零&rdquo;分别摘得银牌和铜牌。这是我校参加ACM-ICPC国际大学生程序设计竞赛以来所取得的最高级别奖项，也是在该级别比赛中取得的最好成绩。</p>
<p style="text-align: center;"><img src="http://scce.ustb.edu.cn/uploads/Image/image001_副本.jpg" width="560" height="311" alt="" /></p>
<p>&nbsp; ACM-ICPC自2015年开始设立亚洲东大陆总决赛，并于2016年改称亚洲区中国决赛，是亚洲最高级别的比赛。本届比赛由上海大学承办，来自百余所高校的313支队伍在本次比赛中争夺参加全球总决赛的参赛权，是迄今为止全球规模最大的赛事。</p>
<p style="text-align: center;"><img src="http://scce.ustb.edu.cn/uploads/Image/image002_副本.jpg" width="560" height="311" alt="" /></p>
<p>&nbsp; 12月11日上午9时比赛正式开始，在经过了5个小时的激烈角逐后，清华大学&ldquo;深黑幻想&rdquo;代表队力压群雄，摘得桂冠。我校由计通学院洪源老师指导，物联1301班殷斌一、计算机1302班袁兆麟和计算机1502班陈笑天三名同学组成的&ldquo;神锋无影&rdquo;代表队成功解出4题，摘得银牌，由信管132班孙梦瑶、物联1301班李宏扬和安全1402班徐经纬三名同学组成的另一支代表队&ldquo;时零&rdquo;也成功解出4题，但用时略多，获得铜牌。</p>
<p style="text-align: center;"><img src="http://scce.ustb.edu.cn/uploads/Image/image003_副本.jpg" width="560" height="311" alt="" /></p>
<p>&nbsp; 在今年的第41届ACM-ICPC竞赛中，我校分别在亚洲区域赛的大连、青岛两站各摘取一枚银牌，在亚洲区域赛的北京站摘取一枚铜牌。这次&ldquo;神锋无影&rdquo;代表队在亚洲区中国决赛中摘银，取得了我校参加ACM-ICPC国际大学生程序设计竞赛以来的最好成绩。至此，我校本赛季ACM-ICPC竞赛圆满收官。</p>
<p style="text-align: center;"><img src="http://scce.ustb.edu.cn/uploads/Image/image004_副本.jpg" width="560" height="311" alt="" /></p>
<p>&nbsp; ACM国际大学生程序设计竞赛由国际计算机界具有悠久历史的权威性组织国际计算机学会（Association for Computing Machinery）主办，是世界上公认的规模最大、水平最高的国际大学生程序设计竞赛，旨在促使大学生运用计算机来充分展示自己分析问题和解决问题的能力，被誉为&ldquo;大学生的信息学奥林匹克&rdquo;，是培养与选拔全球计算机科学顶尖学生的重要方式之一，受到全世界各著名IT公司的高度关注。IBM是全球总决赛的独家赞助商。华为技术有限公司是中国赛区赞助商。</p>

					</div>

</div>



{% endblock %}


{% block js_block %}


{% endblock %}