django==1.10.4
checksumdir
requests
BeautifulSoup
pygments
djangorestframework
markdown
django-filter
django_summernote
django-bootstrap3
django-fontawesome
django-datatable
django-tables2
django-ajax-selects
gunicorn