{% load bootstrap3 %}
<div class="modal fade" id="submit-modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Submit</h4>
            </div>

            <div class="modal-body">

                <form id="submit-form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Problem: </label>
                        <div class="col-md-4">
                            <label class="control-label">{{ problem.oj_name }} {{ problem.virtual_id }} -  {{ problem.title }}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username: </label>
                        <div class="col-md-4">
                            <label class="control-label">{{ request.user.username }} </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Language: </label>
                        <div class="col-md-9">
                            <select class="form-control custom-select" name="oj" id="oj-lang">
                                {% for lang in languages %}
                                <option value="{{ forloop.counter0 }}">{{ lang }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Share: </label>
                        <div class="col-md-9">
                            <div class="btn-group" data-toggle="buttons" id="submit-share">
                                <label class="btn btn-default active">
                                    <input type="radio" name="share" id="share1" value="1" autocomplete="off">Yes
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="share" id="share0" value="0" autocomplete="off">No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Code: </label>
                        <div class="col-md-9">
                            <textarea class="form-control" name="source"
                                      style="resize: none;" id="submit-solution" rows="10" placeholder="At least 50 characters"></textarea>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <span id="submit-msg-box" class="alert alert-danger" style="height: 60px; margin: 0 0 20px; display: none;"></span>
                <button type="button" id="btn-submit-problem" class="btn btn-primary">Submit</button>
                <button type="button" id="btn-reset-problem" class="btn btn-default">Reset</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(window).load(function(){

$('#btn-submit-problem').click(function(){
    $('#submit-msg-box').show();
    $('#submit-msg-box').html('<i class="fa fa-spinner fa-pulse"></i>submitting...');
    var button = this;
    $(this).attr("disabled","disabled");

    var share = $('#submit-share label.active input').val();
    var lang = $('#oj-lang').val();
    var code = $('#submit-solution').val();

    $.ajax({
             type: "POST",
             url: "{% url 'submit_code' %}",
             data: {    'lang': lang,
                        'shared': share,
                        'code': code,
                        'problem_id': {{ problem.problem_id }},
                        'csrfmiddlewaretoken': '{{csrf_token}}'},
             dataType: "json",
             success: function(response) {
                var data = response;
                $('#submit-msg-box').html(response.replace(/\"/g, ""));
                setTimeout(function () {
                    $('#submit-modal').modal('hide');
                    location.href='{% url 'submission_list' %}';
                }, 1000);
              },
              error: function(jqXHR, exception) {

                $('#submit-msg-box').html(jqXHR.responseText.replace(/\"/g, ""));
                $(button).removeAttr("disabled");
              }
        });

  })

$('#btn-reset-problem').click(function(){

    var obj = $('#submit-share label input:radio:not(:checked)');

    var obj0 = $('#submit-share label #share0');
    var obj1 = $('#submit-share label #share1');
    obj1.parent('label').addClass('active');
    obj0.parent('label').removeClass('active');

    $("#oj-lang").val("0");
    $('#submit-solution').val('');

    $('#submit-msg-box').hide();
  })

})
</script>


