{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ problem.title }}
{% endblock %}
{% block body %}
    <div class="container main">
        <div class="row">
            <div class="col-md-9 col-lg-9">asd</div>
            <div class="col-md-3 col-lg-3 container" id="right-panel">
                <div id="operation">
                    <div class="col-sm-6 col-lg-6">
                        <a href="#" class="btn btn-primary" id="btn-submit"
                                data-toggle="modal" data-target="#submit-modal">
                            <i class="fa fa-upload"></i>
                            Submit
                        </a>
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <a href="#" class="btn btn-default" id="btn-submissions">
                            Submissions
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block js_block %}
<script>
$(document).ready(function(){
  if (!$("#nav-problem").hasClass('active')) {
    $("#nav-problem").addClass('active');
  }
});
</script>
    {% include "_mathjax_js.html" %}
    {% include 'submission/submit.html' %}
{% endblock %}